.homeContainer {
	display: flex;
	flex-direction: column;
	height: 90vh;
	width: 100%;
}

.headSection {
	height: 25%;
	width: 100%;
	/*background-color: whitesmoke;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
}

.headSectionItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 31%;
	height: 100%;
	background-color: gainsboro;
}

.bodySection {
	display: flex;
	flex-direction: column;
	height: 65vh; /* total space for tabs */
	/*border-top: 1px solid #ccc;*/
	margin-top: 10px;
}

.tabs {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.tabList {
	position: sticky;
	top: 0;
	background: white;
	z-index: 10;
	box-shadow: 0 2px 2px -2px gray; /* optional shadow */
}

.tabPanels {
	flex: 1; /* take remaining space */
	overflow-y: auto; /* scroll only panel content */
	padding-top: 10px;
}

.cardsContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 20px;
	height: 60vh;
	overflow: auto;
}

.cardFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding-top: 0px !important;
}
