.homeContainer {
	display: flex;
	flex-direction: column;
	/* background-color: black; */
	gap: 10px;
	height: 100%;
	max-height: 100%;
	overflow: auto;
}

.headSection {
	max-height: 25vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	/* background-color: red; */
}

.headSectionItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 31%;
	height: 100%;
	padding-block: 10px;
}

.bodySection {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
	/* background-color: lightblue; */
	max-height: 100%;
	overflow: hidden
}

.tabs{
	height: auto;
	max-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.tabPanels {
	overflow: auto;
}

.cardsContainer {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: auto;
}

.card {
	border: 1px solid lightgrey;
	border-radius: 10px
}

.cardFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding-top: 0px !important;
	flex-wrap: wrap;
	gap: 5px;
}

.createCardHeader {
	font-size: 2vw;
	font-weight: 700;
	padding-bottom: 0 !important;
}


.sidebar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: 100vh;
	max-width: 15%;
	width: 15%;
	/* align-items: center; */
	padding-top: 60px;
	padding-inline: 10px;
	border-right: 1px solid lightgrey;
}

.menu {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-top: 15px;
	padding-left: 24px;
	font-size: 1vw;
	align-items: center;
	cursor: pointer;
	text-align: center;
	padding-block: 10px;
	border-radius: 10px;
	font-weight: 600;
}

.menuLogout {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-top: auto;
	margin-bottom: 20px;
	padding-left: 24px;
	font-size: 1vw;
	align-items: center;
	cursor: pointer;
	text-align: center;
	padding-block: 10px;
	border-radius: 10px;
	font-weight: 600;

}

.menu:hover {
	background-color: lightblue;
}

.adminHeader {
	font-size: 1.5vw;
	font-weight: 400;
	color: var(--text-primary);
	padding-bottom: 20px;
	padding-left: 20px;
}

.bigIcon {
	font-size: 24px; /* or 30px, 40px */
}


.activeMenu {
	background-color: lightblue;
	font-weight: bold;
	overflow: visible !important;
	/* padding: 10px; */
}

.thead>tr>th {
	background-color: lightblue;
	top: -1;
}

.cardText {
	font-weight: 500;
	font-size: 1.8vw;
	margin-bottom: 0;
}

.cardIcon {
	font-size: 3vw;
}

.headSectionItem :nth-child(3) {
	font-size: 2.5vw;
	font-weight: 700;
}

.dialogHeader {
	font-size: 3vw;
	font-weight: 700;
	text-align: center;
	padding-block: 0 !important;
}

.dialogBody {
	font-size: 1.5vw;
	font-weight: 700;
	text-align: center;
	margin-top: 10px;
	padding-block: 0 !important;
}

.createCardBody {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.createCardBodyFirstRow {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.createCardBodyFormControl {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.cardFooterText {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.cardFooterButtons {
	display: flex;
	flex-direction: row;
	gap: 5px;
}


@media (max-width: 440px) {
	.menu {
		flex-direction: column;
		gap: 5px;
		padding-left: 0px;
		font-size: 2vw;
	}

	.menuLogout {
		flex-direction: column;
		gap: 5px;
		padding-left: 0px;
		font-size: 2vw;
	}

	.adminHeader {
		font-size: 2.5vw;
		padding-bottom: 5px;
		width: 100%;
		padding-left: 0;
		text-align: center;
	}

	.headSection {
		flex-direction: column;
	}
	

	.headSectionItem {
		width: 100%;
		flex-direction: row;
		justify-content: start;
		height: 30%;
		gap: 10px;
		padding-inline: 20px;
	}

	.headSectionItem :nth-child(3) {
		margin-left: auto;
		font-size: 6vw;
	}

	.bodySection {
		flex-direction: column;
	}

	.cardText {
		font-size: 4vw;
	}

	.cardIcon {
		font-size: 6vw;
	}

	.createCardHeader {
		font-size: 4vw;
	}

	.dialogHeader {
		font-size: 8vw;
		font-weight: 700;
		text-align: center;
		padding-block: 0 !important;
	}

	.dialogBody {
		font-size: 4vw;
		font-weight: 700;
		text-align: center;
		margin-top: 10px;
		padding-block: 0 !important;
	}

	.createCardBodyFirstRow {
		flex-direction: column;
		gap: 10px;
	}

	.tableCustom {
		font-size: 1.8vw;
	}
}